* {
  margin:0;
  padding:0;
}

.content {
  display: inline;
  //margin: 0 auto;
  //width: 900px;
  //height: 680px;
  //display: table;
}
.content {
  display: inline;
  margin-bottom: 20px;
  background-color: #fff;
  padding-bottom: 1%;
  padding-left: 0.5%;
  padding-top: 0.5%;
}

.box1{
  width: 31%;
  height: 80px;
  line-height: 80px;
  border: 1px solid #fff;
  background-color: #444444;
  border-radius: 3%;
  float: left;
  margin: 1%;
  text-align: center;
  color: white;
}

.box4 img{
  cursor: pointer;
  width: 31%;
  height: 170px;
  //padding-bottom: 31%;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 3%;
  float: left;
  margin: 1%;
  text-align: center;
  color: white;
}
.p-img{
  width: 1120px;
  height: 600px;
}
