<div>
  <div class="content">
    <!--<div class="box1">桶装水</div>-->
    <!--<div class="box1">桶装水</div>-->
    <!--<div class="box1">桶装水</div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/nonghu.jpg" alt=""></div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/daneng.jpg" alt=""></div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/wahaha.jpg" alt=""></div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/yibao.jpg" alt=""></div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/dinghu.jpg" alt=""></div>-->
    <!--<div class="box4"><img src="../../../assets/comimg/jingtian.jpg" alt=""></div>-->
    <img class="p-img" src="../../../assets/comimg/1.png" alt="">
    <img class="p-img" src="../../../assets/comimg/2.png" alt="">
    <img class="p-img" src="../../../assets/comimg/3.png" alt="">
    <img class="p-img" src="../../../assets/comimg/4.png" alt="">
    <img class="p-img" src="../../../assets/comimg/5.png" alt="">
    <img class="p-img" src="../../../assets/comimg/6.png" alt="">
    <img class="p-img" src="../../../assets/comimg/7.webp" alt="">
    <img class="p-img" src="../../../assets/comimg/8.png" alt="">
    <img class="p-img" src="../../../assets/comimg/9.webp" alt="">
    <img class="p-img" src="../../../assets/comimg/10.webp" alt="">
    <img style="margin-bottom: 30px" class="p-img" src="../../../assets/comimg/11.webp" alt="">
  </div>
</div>
