.contents{
  margin: 0 auto;
  width: 900px;
  height: 800px;
  display: table;
}
.contact-img{
  width: 1130px;
}
.contact-text{
  float: left;
  width: 350px;
  margin: 0 auto;
  height: 230px;
  color: #444;
}
.title{
  width: 150px;
}
