<div class="cc">
  <div class="container">
    <img class="contact-img" src="../../../assets/comimg/home1.webp" alt="">
    <img class="contact-img" src="../../../assets/comimg/home.webp" alt="">
        <!--<img src="../../../assets/info/map.jpg" alt="" width="350" height="220">-->
    <div class="title">
      <h4 style="border-left:2px solid red; padding-left: 5px"><strong>联系我们</strong> contact</h4>
    </div>
      <div class="contact-text">
        <ul style="margin-left: -30px">
          <li style="list-style:none; margin-top: 15px; float: left">优水到家有限公司</li>
          <li style="list-style:none; margin-top: 15px; float: left">公司地址:广州市黄埔区开源大道11号B10栋4屋</li>
          <li style="list-style:none; margin-top: 15px; float: left">客服热线: 0757-29293983</li>
          <li style="list-style:none; margin-top: 15px; float: left">E-MAIL: HLB8@HELENBO.COM</li>
          <li style="list-style:none; margin-top: 15px; float: left">传真: 0757-29293991</li>
        </ul>
      </div>
  </div>
</div>
