<div [@routerTransition]>
  <form class="form-inline">

    <select id="itemSelect" (click)="selectedItem()" class="form-control" style="width: 150px; height: 34px">
      <option value="">请选择商品名称</option>
      <option *ngFor="let item of list" value="{{item.id}}">{{item.name}}</option>
      <option  value=""></option>
    </select>
    <select #select (click)="selectedCompany(select.value)" class="form-control" style="width: 150px; height: 34px">
      <option value="">请选择所属公司</option>
      <option *ngFor="let item of companyInfoList" value="{{item.id}}">{{item.name}}</option>
    </select>
    <input [disabled]="disable" type="text" class="form-control input-width" id="exampleInputName3" placeholder="请输入商品名称 " style="width: 150px" >
    <input [disabled]="disable" type="text" class="form-control input-width" id="exampleInputName4" placeholder="请输入条形码 " style="width: 150px" >

    <input
      [disabled]="disable"
      class="form-control"
      placeholder="选择日期"
      bsDatepicker
      name="startDateInput"
      [(ngModel)]="startDateInput"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">

    <button [disabled]="disable" (click)="checkData()" type="button" class="btn btn-primary check">查询</button>
    <!--<button [disabled]="disable" type="button" class="btn btn-default reset">导出</button>-->
  </form>
  <div class="bgloading">
    <div [hidden]="!loadingbg" style="background-color: gainsboro;position: absolute;width: 1562px;height: 576px;top: -257px; opacity: 0.8"></div>
    <div class="spinner" [hidden]="!loading" >
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
      Loading....
    </div>
  </div>
  <div class="tables">
    <div class="left-table">

      <div>
        <ul *ngFor="let item of itemInfoList">
          <li>{{item.name}}
            <ul *ngFor="let sitem of item.sonNode">
              <li>{{sitem.name}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th> </th>
      <th>公司</th>
      <th>售货机编号</th>
      <th>商品类别</th>
      <th>条形码</th>
      <th>商品名称</th>
      <th>规格</th>
      <th>库存数量</th>
      <th>单品进价均价（元）</th>
      <th>库存金额（元）</th>
      <th>单品零售价（元）</th>
      <th>当天销售金额</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="!vmInventoryList" *ngFor="let item of vmInventoryList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.companyName}}</td>
      <td>{{item.vmCode}}</td>
      <td>{{item.itemType}}</td>
      <td>{{item.barCode}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.standard}}</td>
      <td>{{item.num}}</td>
      <td>{{item.costPrice}}</td>
      <td>{{item.inventoryPrice}}</td>
      <td>{{item.price}}</td>
      <td>{{item.salePrice}}</td>
      <!--<td style="display: flex">-->
        <!--<button type="button" class="btn btn-danger">退款</button>-->
        <!--<button style="margin-left: 5px" type="button" class="btn btn-primary">编辑</button>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  </div>
  <div class="containers">
    <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum" [rotate]="rotate" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    <div class="input-number">
      <input type="number" min="1" [(ngModel)]="text">
      <button [disabled]="disable" type="button" class="btn btn-info" (click)="turnToPage(text)">跳转</button>
      一共{{totalPage}}页
    </div>
  </div>
</div>
