<div>
  <div class="content">
    <!--<div class="selected">-->
      <!--<ul class="live">-->
        <!--<li class="li1" (click)="select(1)">新闻咨询</li>-->
        <!--<li class="li2" (click)="select(2)">行业新闻</li>-->
        <!--<li class="li3" (click)="select(3)">企业新闻</li>-->
        <!--<li class="li4" (click)="select(4)">国内新闻</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<span>标题</span>-->
    <!--<p>内容</p>-->
    <!--<span>上篇: <a href="">xxxxxxxxxxxxxxxxxxxxxxx</a></span>-->
    <!--<span>下篇: <a href="">xxxxxxxxxxxxxxxxxxxxxxx</a></span>-->
    <img src="../../../assets/comimg/14.png" alt="">
    <img style="margin-bottom: 30px" src="../../../assets/comimg/13.png" alt="">
  </div>
</div>
