<div [@routerTransition]>
  <form class="form-inline">
    <input name="vendingMachinesCode" type="text" class="form-control" id="exampleInputName2" placeholder="输入售货机编号" [(ngModel)]="vendingMachinesCode">
    <select #select (click)="selected(select.value)" class="form-control" style="width: 150px; height: 34px">
      <option value="">请选择所属公司</option>
      <option *ngFor="let item of machinesCompanyList" value="{{item.id}}">{{item.name}}</option>
    </select>
    <input
        [disabled]="disable"
        class="form-control"
        placeholder="选择日期"
        bsDatepicker
        name="startDateInput"
        [(ngModel)]="startDateInput"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">-
    <input
      [disabled]="disable"
      class="form-control"
      placeholder="选择日期"
      bsDatepicker
      name="endDateInput"
      [(ngModel)]="endDateInput"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">
    <button [disabled]="disable" (click)="checkData()" type="button" class="btn btn-primary check">查询</button>
    <button [disabled]="disable" type="button" class="btn btn-default reset">导出</button>
  </form>
  <div class="bgloading">
    <div [hidden]="!loadingbg" style="background-color: gainsboro;position: absolute;width: 1562px;height: 576px;top: -257px; opacity: 0.8"></div>
    <div class="spinner" [hidden]="!loading" >
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        Loading....
    </div>
  </div>
  <div class="tables">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>售货机编号</th>
      <th>销售单次</th>
      <th>客单价（元）</th>
      <th>成本单价（元）</th>
      <th>成本总价（元）</th>
      <th>销售单价（元）</th>
      <th>销售数量</th>
      <th>销售总价（元）</th>
      <th>单品毛利</th>
      <th>总毛利</th>
      <th>毛利率</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="!machinesSaleStatisticsList" *ngFor="let item of machinesSaleStatisticsList">
      <th scope="row">{{item.vmCode}}</th>
      <td>{{item.sumFinishedOrderNum}}</td>
      <td>{{item.cusUnitPrice}}</td>
      <td>{{item.costUnitPrice}}</td>
      <td>{{item.sumFinishedCost}}</td>
      <td>{{item.saleUnitPrice}}</td>
      <td>{{item.sumFinishedItemNum}}</td>
      <td>{{item.sumFinishedMoney}}</td>
      <td>{{item.profitUnitPrice}}</td>
      <td>{{item.sumProfit}}</td>
      <td>{{returnTwoDecimal(item.sumProfit / item.sumFinishedMoney * 100)}}%</td>
      <!--<td style="display: flex">-->
        <!--<button type="button" class="btn btn-danger">退款</button>-->
        <!--<button style="margin-left: 5px" type="button" class="btn btn-primary">编辑</button>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  </div>
  <div class="containers">
    <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum" [rotate]="true" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    <div class="input-number">
      <input type="number" min="1" [(ngModel)]="text">
      <button type="button" class="btn btn-primary" [disabled]="disable" (click)="turnToPage(text)">跳转</button>
      一共{{totalPage}}页
    </div>
  </div>
</div>
