a {
  text-decoration: none;
}
.container {
  /*width: 1920px;*/
  /*height: 1683px;*/
  position: relative;
  /*background: url("../image/bs-bg.jpg") no-repeat;*/
}
.bg {
  width: 100%;
  height: auto;
}
.login {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 35%;
  margin-top: -300px;
  left: 50%;
  margin-left: -300px;
  padding: 62px 90px;
}
.login #logink {
  position: relative;
}
.login .content .kuan {
  width: 100%;
  height: 60px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
.login .content .full {
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgrey;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgrey;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgrey;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgrey;
}


.login .content .huoqu {
  color: #555555;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 14px;
}
.login .content .code {
  margin: 30px 0 14px 0;
}
.login .content .agree {
  font-size: 14px;
  color: #888888;
  margin-right: 6px;
}
.login .content label {
  color: #888888;
}
.login .content .xieyi {
  color: #ff814f;
  margin-left: 5px;
}
.login .content .loginBtn {
  margin: 103px 0 76px 0;
  color: white;
  background-color: #ff814f;
  border: none;
  font-size: 20px;
}
.login .content .weChat {
  position: absolute;
  bottom: 59px;
  left: 50%;
  margin-left: -20px;
}
.content .weChat i {
  display: block;
  width: 40px;
  height: 40px;
}
.content .weChat img {
  width: 100%;
  height: 100%;
}
.content .weChat span{
  font-size: 14px;
  color: #999999;
  display: block;
  width: 40px;
  text-align: center;
  margin-top: 8px;
}
