<div [@routerTransition]>
<div class="admin-backgroup">
  <div class="header-backgroup">
    <app-header></app-header>
  </div>
  <div class="contents">
    <div class="side-backgroup">
      <app-side></app-side>
    </div>
       <div class="content-backgroup">
          <section >
           <router-outlet></router-outlet>
          </section>
        </div>

  </div>
<!--
  <div class="bottom-backgroup">
    <app-footer></app-footer>
  </div>-->
</div>

  <!--
<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <router-outlet></router-outlet>
</section>-->
</div>
