* {
  margin:0;
  padding:0;
}
.content {
  margin: 0 auto;
  width: 950px;
  height: 680px;
}
.article-content {
  height: 200px;
}
.article-left {
  float: left;
  margin-top: 10px;
  width: 450px;
  border-right:1px solid dimgrey;
}
.article-left ul li {
  list-style: none;
  font-size: 13px;
  margin-top: 10px;
  color: dimgrey;
}
.article-right{
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
  font-size: 13px;
}
.message-button{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.message-button:active{
  color: #fff;
  background-color: #4cae4c;
}
.btn{
  width: 120px;
  height: 40px;
  padding: 6px 12px;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.bottom{
  width: 950px;
  height: 340px;
  margin-top: 80px;
  text-align: center;
  font-size: 20px;
  letter-spacing:4px;
}
.bottom-detail{
  font-size: 13px;
  color: grey;
}
.imgs {
  margin-top: 20px;
  text-align:center;
  width: 950px;
}
.imgs li{
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  font-size: 12px;
  color: grey;
}
.bottom-img {
  display: block;
  width: 150px;
  height: 120px;
  margin-bottom: 20px;
}
