<div>
  <div class="content">
    <!--<header>-->
      <!--<strong style="font-size: 19px">新闻动态</strong>-->
      <!--<span style="font-size: 16px; margin-left: 6px; color: dimgrey">全部>></span>-->
    <!--</header>-->
    <!--<div class="article-content">-->
    <!--<article class="article-left">-->
      <!--<ul>-->
        <!--<li>-->
          <!--<strong>[2018-03-22] 关于开展2018上海市物业管理企业诚信承诺申报通知</strong>-->
          <!--<br/>-->
          <!--<span>诚信承诺企业有效管理到期的必须参加本次申报，如条件不符合申报上一级，则返回</span>-->
        <!--</li>-->
        <!--<li>-->
          <!--<strong>[2018-03-22] 关于开展2018上海市物业管理企业诚信承诺申报通知</strong>-->
          <!--<br/>-->
          <!--<span>诚信承诺企业有效管理到期的必须参加本次申报，如条件不符合申报上一级，则返回</span>-->
        <!--</li>-->
        <!--<li>-->
          <!--<strong>[2018-03-22] 关于开展2018上海市物业管理企业诚信承诺申报通知</strong>-->
          <!--<br/>-->
          <!--<span>诚信承诺企业有效管理到期的必须参加本次申报，如条件不符合申报上一级，则返回</span>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</article>-->
    <!--<article class="article-right">-->
      <!--<span>多年来，服务超过2000家客户</span>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--<span>专业，诚信，高效的管理设计能力与执行能力</span>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--<span>持续驱动百联物业管理的快速成长，实现与开发商/业主共赢的目标</span>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--<div>-->
        <!--<strong style="font-size: 19px">我们是<span style="color: red">中国商业物业专业服务商</span> </strong>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<button type="button" class="btn message-button">在线留言</button>-->
      <!--</div>-->
    <!--</article>-->
    <!--</div>-->
    <div class="bottom">
      <strong style="margin-bottom: 10px"><p>我们的合作案例</p></strong>
      <span style="margin-top: 20px; display:inline-block;" class="bottom-detail">商业/办公/公共/住宅</span>
      <div class="imgs">
        <ul>
          <li>
            <img class="bottom-img" src="../../../assets/comimg/nonghu.jpg" alt="">
            <span>农夫山泉合作</span>
          </li>
          <li>
            <img class="bottom-img" src="../../../assets/comimg/yibao.jpg" alt="">
            <span>怡宝纯净水合作</span>
          </li>
          <li>
            <img class="bottom-img" src="../../../assets/comimg/dinghu.jpg" alt="">
            <span>鼎湖山泉合作</span>
          </li>
          <li>
            <img class="bottom-img" src="../../../assets/comimg/wahaha.jpg" alt="">
            <span>娃哈哈合作</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
