<nav class="header">
  <!--<button class="btn rounded-btn"  (click)="loginout()"> 退出 </button>-->
<ul class="main">
  <li (click)="asideBar(0)" class="changeColor" id="changeColor1" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']">
    <a class="mainPage btn rounded-btn" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']" > 主页</a><br>
  </li>
</ul>

  <div class="asideWrapper">
    <div class="line"></div>

    <div (click)="toggle(1)" class="sort"><img class="sortIcon" src="../../../../assets/userAdmin/guanli.png" alt="">管理</div>
    <ul [hidden]="menuState1">
      <li (click)="asideBar(1)" class="changeColor" id="changeColor2" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']" > 售货机列表</a>
      </li>
      <li (click)="asideBar(2)" class="changeColor" id="changeColor3" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']" > 售货机账号库</a>
      </li>
      <li (click)="asideBar(3)" class="changeColor" id="changeColor4" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']" > 货道商品</a>
      </li>
      <li (click)="asideBar(4)" class="changeColor" id="changeColor5" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['firstPage']" [routerLinkActive]="['router-link-active']" > 售货机错误日志</a>
      </li>
    </ul>

    <div class="line" [hidden]="menuState1"></div>
    <div (click)="toggle(2)" class="sort"><img class="sortIcon" src="../../../../assets/userAdmin/shujutongji.png" alt="">数据统计报表</div>
    <ul  [hidden]="menuState2">
      <li (click)="asideBar(5)" class="changeColor" id="changeColor6" [routerLink]="['contentData']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentData']" [routerLinkActive]="['router-link-active']" > 销售记录</a>
      </li>
      <li (click)="asideBar(6)" class="changeColor" id="changeColor7" [routerLink]="['contentManage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentManage']" [routerLinkActive]="['router-link-active']" > 销售统计</a>
      </li>
      <li (click)="asideBar(7)" class="changeColor" id="changeColor8" [routerLink]="['contentDaily']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentDaily']" [routerLinkActive]="['router-link-active']" > 销售日报</a>
      </li>
      <li (click)="asideBar(8)" class="changeColor" id="changeColor9" [routerLink]="['contentGoodsStatistics']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentGoodsStatistics']" [routerLinkActive]="['router-link-active']" > 商品销售统计</a>
      </li>
      <li (click)="asideBar(9)" class="changeColor" id="changeColor10" [routerLink]="['contentGoods']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentGoods']" [routerLinkActive]="['router-link-active']" > 商品报表</a>
      </li>
      <li (click)="asideBar(10)" class="changeColor" id="changeColor11" [routerLink]="['contentVending']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentVending']" [routerLinkActive]="['router-link-active']" > 售卖机报表</a>
      </li>
    </ul>

    <div class="line" [hidden]="menuState2"></div>
    <div (click)="toggle(3)" class="sort"><img class="sortIcon" src="../../../../assets/userAdmin/shujutongji.png" alt="">仓库管理报表</div>
    <ul  [hidden]="menuState3">
      <li (click)="asideBar(11)" class="changeColor" id="changeColor12" [routerLink]="['contentData']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentData']" [routerLinkActive]="['router-link-active']" > 仓库创建</a>
      </li>
      <li (click)="asideBar(12)" class="changeColor" id="changeColor13" [routerLink]="['contentManage']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentManage']" [routerLinkActive]="['router-link-active']" > 商品档案</a>
      </li>
      <li (click)="asideBar(13)" class="changeColor" id="changeColor14" [routerLink]="['contentDaily']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentDaily']" [routerLinkActive]="['router-link-active']" > 添加出入库单</a>
      </li>
      <li (click)="asideBar(14)" class="changeColor" id="changeColor15" [routerLink]="['contentGoodsStatistics']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentGoodsStatistics']" [routerLinkActive]="['router-link-active']" > 出入库单查询</a>
      </li>
      <li (click)="asideBar(15)" class="changeColor" id="changeColor16" [routerLink]="['vmInventory']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['vmInventory']" [routerLinkActive]="['router-link-active']" > 仓库实时库存</a>
      </li>
      <li (click)="asideBar(16)" class="changeColor" id="changeColor17" [routerLink]="['contentVending']" [routerLinkActive]="['router-link-active']">
        <a class="btn rounded-btn" [routerLink]="['contentVending']" [routerLinkActive]="['router-link-active']" > 待审核商品管理</a>
      </li>
    </ul>


    <div class="line" [hidden]="menuState3"></div>
    <div (click)="toggle(4)" class="sort"><img class="sortIcon" src="../../../../assets/userAdmin/shezhi.png" alt="">设置</div>
    <ul  [hidden]="menuState4">
      <li (click)="asideBar(17)" class="changeColor" id="changeColor18" [routerLink]="['userTest']" [routerLinkActive]="['router-link-active']" >
        <a class="btn rounded-btn" [routerLink]="['userTest']" [routerLinkActive]="['router-link-active']" > 帐号设置</a>
      </li>
    </ul>

  </div>
</nav>


