<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>form</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.css">
    <style media="screen">

      input.error{
        border: 1px solid red;
      }
       p.error{
         font-size: 12px;
        color: #a10;
        /*display: none;*/
      }
      .warpper{
        width: 200px;
        margin: 30px auto;
      }
      .input-check{
        position: relative;
        right: -180px;
        top: -28px;
        color:#3c763d;
      }
    </style>
  </head>
  <body ng-app = 'myApp' ng-controller = "werController">

    <div class="warpper">
      <form  name = "singUpForm" ng-submit="submitForm()">
          <h3>注册</h3>
          <div class="form-group" ng-class="{'has-success':singUpForm.username.$valid}">
            <label for="用户名">用户名:</label>
              <input type="text" name="username"
              ng-minlength='4'
              ng-maxlength='32'
              required
              ng-model="userdate.username"
              value="" class="form-control">
              <span class="fa fa-check input-check" ng-if="singUpForm.username.$valid"></span>
              <p class="error" ng-if="(singUpForm.username.$error.minlength ||singUpForm.username.$error.maxlength )
               && singUpForm.username.$touched"> 用户名应在4-32位之间 </p>
               <p class="error" ng-if="singUpForm.username.$error.required
                && singUpForm.username.$touched"> 用户名不能为空 </p>
            </div>
            <div class="form-group" ng-class="{'has-class':singUpForm.password.$vaild}">
            <label for="密码">密码:</label>
              <input type="password" name="password"
              ng-model="userdate.password"
              ng-minlength='6'
              ng-maxlength='255'
              required
               value="" class="form-control">
               <span class="fa fa-check input-check" ng-if="singUpForm.password.$valid"></span>
               <p class="error" ng-if="(singUpForm.password.$error.minlength ||singUpForm.password.$error.maxlength )
                && singUpForm.username.$touched">密码应在6位以上</p>
                <p class="error" ng-if="singUpForm.password.$error.required
                 && singUpForm.password.$touched"> 密码不能为空 </p>
            </div>
            <div class="form-group" ng-class= "{'has-class':singUpForm.password2.$vaild}">
            <label for="密码">确认密码:</label>
              <input type="password" name="password2" value=""
              ng-model="userdate.password2"
              class="form-control">
              <!-- <span class="fa fa-check input-check" ng-if="singUpForm.password2.$valid"></span> -->
              <p class="error" ng-if="!compare && singUpForm.password.$touched">密码不一致</p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" name="button" type="submit">注册</button>
            </div>
      </form>
    </div>


  <!-- <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script> -->
    <script src="../bower_components/angular/angular.js" charset="utf-8"></script>
    <script type="text/javascript">

      var app =angular.module('myApp',[]);
      app.controller('werController',["$scope",function ($scope) {

          $scope.userdate = {

          };
          $scope.submitForm =function() {
            console.log($scope.userdate);

          };

          $scope.$watch('userdate.password2',function () {
            console.log($scope.userdate.password2);
            console.log($scope.userdate.password);

            $scope.compare = ($scope.userdate.password == $scope.userdate.password2);
          });

      }]);
      // app.directive('compare',function () {
      //   return {
      //       restrict:"EA",
      //       template:
      //
      //   }
      // })
    </script>
  </body>
</html>
