.header-input, .header-input-second{
  margin-left: 2px;
  display: flex;
}
.header-input-second{
  margin-top: 5px;
  margin-bottom: 5px;
}
.check, .reset{
  margin-left: 5px;
}
tr, li{
  white-space: nowrap;
  text-align: center;
}
.tables{
  position: relative;
  overflow: auto;
  width: 100%;
  margin-top: 10px;
}
.containers{
  position: absolute;
  bottom: -100px;
}
a:hover {
  background-color: #007bff;
  color: white;
}


