<div class="footer-backgroup">
  <p>地址：广州市番禺区东环街555号番禺大道北天安科技园发展大厦605</p>
  <p>邮箱：imquanzi@imquanzi.com</p>
  <p>醉猫科技 &nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp; ©2016-2017 &nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备17064460号 -1</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="privacy_policy.html">隐私政策</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="opinion.html">投诉与建议</a></p>
  <div style="width:300px;margin:0 auto; padding:5px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011302000949" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://pu.imquanzi.com/beian.png" style="float:left;width: 18px;margin-top: 0px;"/>
      <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 0px;">粤公网安备 44011302000949号</p>
    </a>
    <a target="_blank" href='http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=729a68d6fd274b56a9cf56ed5f60e9ad'><img alt='' src='../../../../assets/userAdmin/footer_hongdun.png' style='width:18px; margin-left: 20px' />
    </a>
  </div>
  <div style="width:300px;margin:0 auto; padding:5px 0;">
    <a href='http://report.12377.cn:13225/toreportinputNormal_anis.do?spm=a21bo.2017.1997523009.48.6218c735EBuNeG&file=toreportinputNormal_anis.do' target="_blank"><img alt='' src='../../../../assets/userAdmin/footer_jubao1.png' style='width:120px;margin-left: 20px' />
    </a>
    <a href='http://www.12377.cn/node_548446.htm?spm=a21bo.2017.1997523009.49.6218c735EBuNeG' target="_blank"><img alt='' src='../../../../assets/userAdmin/footer_jubao2.png' style='width:120px; margin-left: 20px' />
    </a>
  </div>
  <!--<script type="text/javascript" >-->
    <!--var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
    <!--document.write(unescape("%3Cspan id='cnzz_stat_icon_1265401009'%3E%3C/span%3E%3Cscript src='"+cnzz_protocol+"s22.cnzz.com/z_stat.php%3Fid%3D1265401009%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
  <!--</script>-->
  <span id="cnzz_stat_icon_1265401009"><a href="http://www.cnzz.com/stat/website.php?web_id=1265401009" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span>
</div>
