.footer-backgroup {
  color: #555555;
  text-align: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  padding: 80px 0;
  line-height: 30px;
  margin-top: -140px;
}
.footer-backgroup a{
  color: #FF814F;
  text-decoration: none;
}
.footer-backgroup a:hover{
  color: #1e78eb;
  text-decoration: none;
}
