<div id="myCarousel" class="carousel slide" style="margin-bottom: 30px">

  <div class="banner">
    <!--<img class="change pre"  src="http://www.jq22.com/demo/jqueryLbt201803140058/images/pre.png" >-->
    <!--<img class="change next" src="http://www.jq22.com/demo/jqueryLbt201803140058/images/next.png" >-->

    <div class="cirbox" >
      <div (click)="cr(0)" class="cir cr"></div>
      <div (click)="cr(1)" class="cir"></div>
      <div (click)="cr(2)" class="cir"></div>
      <div (click)="cr(3)" class="cir"></div>
    </div>
    <div class="imgbox">
      <img class="img" src="../../../../assets/comimg/33.webp">
      <img class="img" src="../../../../assets/comimg/timg.jpeg">
      <img class="img" src="../../../../assets/comimg/33.webp">
      <img class="img" src="../../../../assets/comimg/home.webp">
    </div>
  </div>
</div>
