<div class="footer-backgroup row">
      <div class="footer-ul col-md-1"><h5>项目</h5>
        <ul>
          <li>商业物业</li>
          <li>办公楼物业</li>
          <li>公众物业</li>
          <li>住宅物业</li>
        </ul>
      </div>
      <div class="footer-ul col-md-1"><h5>服务</h5>
        <ul>
          <li>基础服务</li>
          <li>服务类型</li>
          <li>市场细分</li>
          <li>特色服务</li>
        </ul>
      </div>
      <div class="footer-ul col-md-1"><h5>友情链接</h5>
        <ul>
          <li>中国物业管理行业协会</li>
          <li>上海物业行业协会</li>
          <li>百联集团</li>
          <li>百联股份</li>
        </ul>
      </div>
      <div class="footer-ul col-md-1"><h5>友情链接</h5>
        <ul>
          <li>中国物业管理行业协会</li>
          <li>上海物业行业协会</li>
          <li>百联集团</li>
          <li>百联股份</li>
        </ul>
      </div>
      <div class="footer-ul col-md-2"><h5 class="last-h4">联系我们</h5>
        <ul>
          <li>电话: 0757-29293983</li>
          <li>传真: 0757-29293991</li>
          <li>地址: 广州市黄埔区开发区开源大道11号B10栋4层</li>
          <li>留言: 咨询与意见反馈</li>
        </ul></div>
</div>
<div class="footer-text">
  <span>Copyright @ 2004-2014 优水到家有限公司 All Right Reserved 沪ICP备05027423号</span>
</div>
