<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ng-repeat 指令</title>
</head>
<style media="screen">
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>

<body ng-app="myApp">;

    <ul ng-controller="ListController">
        <!-- <li ng-repeat="item in xiaoheishenghuo" data-id="{{item.id}}"> -->
        <li ng-repeat="item in xiaoheishenghuo" data-id="{{item.id}}" class="{{$even?'red':'green'}}">


            <span>{{$first ? '开始了' : ''}}</span>

            <span>{{item.name}}</span>
            <span>{{item.age}}</span>

            <span>{{$last ? '开始了':''}}</span>

        </li>
    </ul>



    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript">
        angular.module('myApp', [])
            .controller('ListController', ['$scope', function($scope) {


                $scope.xiaoheishenghuo = [];

                for (var i = 1; i < 10; i++) {
                    $scope.xiaoheishenghuo[$scope.xiaoheishenghuo.length] = {
                        id: i,
                        name: '赵小黑的小' + i,
                        age: 20 + i
                    };
                }


            }]);
    </script>

</body>

</html>
