<div [@routerTransition]>
  <form class="form-inline">
    <select #select (click)="selectedCompany(select.value)" class="form-control" style="width: 150px; height: 34px">
      <option value="">请选择所属公司</option>
      <option *ngFor="let item of companyList" value="{{item.id}}">{{item.name}}</option>
    </select>
    <input
      [disabled]="disable"
      class="form-control"
      placeholder="选择日期"
      bsDatepicker
      name="startDateInput"
      [(ngModel)]="startDateInput"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">-
    <input
      [disabled]="disable"
      class="form-control"
      placeholder="选择日期"
      bsDatepicker
      name="endDateInput"
      [(ngModel)]="endDateInput"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">
    <!--<select class="form-control" style="width: 150px; height: 34px">-->
      <!--<option value="">选择时间段</option>-->
      <!--<option value="">昨天</option>-->
      <!--<option value="">本周</option>-->
      <!--<option value="">上周</option>-->
      <!--<option value="">本月</option>-->
      <!--<option value="">上月</option>-->
    <!--</select>-->
    <button (click)="checkData()" [disabled]="disable" type="button" class="btn btn-primary check">查询</button>
    <button [disabled]="disable" type="button" class="btn btn-default reset">导出</button>
  </form>
  <div class="bgloading">
    <div [hidden]="!loadingbg" style="background-color: gainsboro;position: absolute;width: 1562px;height: 718px;top: -333px; opacity: 0.8"></div>
    <div class="spinner" [hidden]="!loading" >
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
      Loading....
    </div>
  </div>
  <div class="tables">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>操作</th>
      <th>统计日期</th>
      <th>销售额</th>
      <th>销售商品数</th>
      <th>销售单次</th>
      <th>退款金额</th>
      <th>退款单次</th>
      <th>成本</th>
      <th>利润</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="!payRecordPerDayList" *ngFor="let item of payRecordPerDayList;">
      <th scope="row"><button (click)="detail(template, item)" type="button" class="btn btn-primary check">详情</button></th>
      <td>{{item.createTime}}</td>
      <td>{{item.finishedMoney}}</td>
      <td>{{item.finishedItemNum}}</td>
      <td>{{item.finishedOrderNum}}</td>
      <td>{{item.refundMoney}}</td>
      <td>{{item.refundOrderNum}}</td>
      <td>{{item.finishedCost}}</td>
      <td>{{item.profit}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="containers">
    <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum" [rotate]="true" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    <div class="input-number">
      <input type="number" min="1" [(ngModel)]="text">
      <button [disabled]="disable" type="button" class="btn btn-primary" (click)="turnToPage(text)">跳转</button>
      一共{{totalPage}}页
    </div>
  </div>
  <!--dialog-->
  <ng-template #template>
      <div class="modal-header modal-lg">
        <h4 class="modal-title pull-left">售货机销售日报</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-lg">
        <form class="form-inline">
          <input type="text" class="form-control input-width" id="exampleInputName2" placeholder="售货机编号" style="width: 150px">
          <input
            [disabled]="disable"
            class="form-control"
            placeholder="选择日期"
            bsDatepicker
            name="startDateInput"
            [(ngModel)]="startDateInput"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">-
          <input
            [disabled]="disable"
            class="form-control"
            placeholder="选择日期"
            bsDatepicker
            name="endDateInput"
            [(ngModel)]="endDateInput"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }">
          <!--<select class="form-control" style="width: 150px; height: 34px">-->
          <!--<option value="">选择时间段</option>-->
          <!--<option value="">昨天</option>-->
          <!--<option value="">本周</option>-->
          <!--<option value="">上周</option>-->
          <!--<option value="">本月</option>-->
          <!--<option value="">上月</option>-->
          <!--</select>-->
          <button (click)="checkData()" [disabled]="disable" type="button" class="btn btn-primary check">查询</button>
          <button [disabled]="disable" type="button" class="btn btn-default reset">导出</button>
        </form>
        <div class="bgloading">
          <div class="spinner" [hidden]="payRecordPerDayDetailList" >
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            Loading....
          </div>
        </div>
        <div class="tables">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>售卖机编号</th>
            <th>公司</th>
            <th>销售额</th>
            <th>销售商品数</th>
            <th>销售单次</th>
            <th>退款金额</th>
            <th>退款单次</th>
            <th>总成本</th>
            <th>总利润</th>
            <th>统计日期</th>
          </tr>
          </thead>
          <tbody [hidden]="!payRecordPerDayDetailList">
          <tr *ngFor="let item of payRecordPerDayDetailList">
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.vendingMachinesCode}}</td>
            <td>{{item.createTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
  </ng-template>

</div>
