<div>
  <div class="content">
    <!--<div class="content-img">-->
      <!--<img src="../../../assets/cooperation/1.jpg" width="600" height="300" alt="">-->
    <!--</div>-->
    <!--<div class="content-fc-fb">-->
      <!--<div class="fb">-->
        <!--<div class="fb-text">FB</div>-->
        <!--<div class="fb-content"></div>-->
      <!--</div>-->
      <!--<div class="fc">-->
        <!--<div class="fc-text">FC</div>-->
        <!--<div class="fc-content"></div>-->
      <!--</div>-->
    <!--</div>-->
    <img src="../../../assets/comimg/12.webp" alt="">
    <img style="margin-bottom: 30px" src="../../../assets/comimg/13.png" alt="">
  </div>
</div>
