<div class="header-backgroup">
  <div class="header-log">
    <img src="assets/userAdmin/ys_logo2.png" width="100px" height="100px" />
  </div>
  <h2 class="header-title">广州优水到家工程</h2>
  <div>
    <ul id="menu">
      <li class="li1" (click)="select(1)" [routerLink]="['first']" [routerLinkActive]="['router-link-active']"><a id="a1" class="abtn btn rounded-btn" [routerLink]="['first']" [routerLinkActive]="['router-link-active']" ><strong>首页</strong></a></li>
      <li class="li2" (click)="select(2)" [routerLink]="['product']" [routerLinkActive]="['router-link-active']"><a id="a2" class="abtn btn rounded-btn" [routerLink]="['product']" [routerLinkActive]="['router-link-active']" ><strong> 产品中心</strong></a></li>
      <li class="li4" (click)="select(4)" [routerLink]="['cooperation']" [routerLinkActive]="['router-link-active']"><a id="a4" class="abtn btn rounded-btn" [routerLink]="['cooperation']" [routerLinkActive]="['router-link-active']" ><strong> 合作案例</strong></a></li>
      <li class="li5" (click)="select(5)" [routerLink]="['newcenter']" [routerLinkActive]="['router-link-active']"><a id="a5" class="abtn btn rounded-btn" [routerLink]="['newcenter']" [routerLinkActive]="['router-link-active']" ><strong> 公司动态</strong></a></li>
      <li class="li6" (click)="select(6)" [routerLink]="['info']" [routerLinkActive]="['router-link-active']"><a id="a6" class="abtn btn rounded-btn" [routerLink]="['info']" [routerLinkActive]="['router-link-active']" ><strong> 联系我们</strong></a></li>
    </ul>
  </div>


</div>

